:root {
  --primary-color: #d9b99b;
  --secondary-color: #eed9c4;
  --third-color: #e4d5b7;
  --forth-color: #f5f5f5;
  --background-color: #f3ece3;
  --text-color: #333333;
  --font-family: "Open Sans", sans-serif;
}

body {
  background-color: #eeecda;
}

@mixin button-style {
  padding: 10px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--third-color);

  &:hover {
    background-color: var(--secondary-color);
  }
}

.app {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);

  .container {
    width: 95%;
    color: var(--text-color);

    .link {
      text-decoration: none;
      color: inherit;
    }

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: var(--background-color);

      h1 {
        font-size: 20px;
        color: var(--text-color);
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: var(--forth-color);
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          @include button-style;
        }

        p,
        span {
          font-size: 12px;
          color: var(--text-color);
          text-align: center;
        }
      }
    }

    .navbar {
      width: 100%;
      background-color: var(--primary-color);
      color: var(--forth-color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      .container {
        max-width: 100%;
        padding: 15px 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: flex-start;

        .logo img {
          width: 200px;
        }

        .links {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-left: 20%;

          h6 {
            font-size: 16px;
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
              color: var(--forth-color);
              cursor: pointer;
            }
          }

          span {
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
              color: var(--forth-color);
            }
          }

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }

  footer {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  // HOME Section

  .home {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        gap: 100px;

        .img {
          flex: 2;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--background-color);
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }

          img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
          }
        }

        .content {
          flex: 3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-size: 48px;
          }

          p {
            font-size: 18px;
          }

          button {
            @include button-style;
            width: max-content;
            padding: 10px 20px;
          }
        }
      }
    }
  }

  // SINGLE Section

  .single {
    display: flex;
    gap: 50px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
        margin-top: 15px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-weight: bold;
        }
      }

      .edit {
        display: flex;
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      h1 {
        font-size: 42px;
        color: var(--text-color);
      }

      p {
        text-align: justify;
        line-height: 30px;
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h1 {
        font-size: 20px;
        color: var(--text-color);
      }

      .post {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        h2 {
          color: var(--text-color);
        }

        button {
          @include button-style;
          width: max-content;
          padding: 7.5px 15px;
        }
      }
    }
  }

  // WRITE Section

  .add {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 10px;
        border: 1px solid lightgray;
      }

      .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgray;
        background-color: var(--forth-color);

        .editor {
          height: 100%;
          border: none;
        }
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        border: 1px solid lightgray;
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        color: var(--text-color);
        background-color: var(--forth-color);

        h1 {
          font-size: 20px;
        }

        .file {
          text-decoration: underline;
          cursor: pointer;
        }

        .buttons {
          display: flex;
          justify-content: space-between;

          :first-child {
            @include button-style;
            padding: 3px 5px;
          }
          :last-child {
            @include button-style;
            padding: 3px 5px;
            background-color: var(--third-color);
          }
        }

        .cat {
          display: flex;
          align-items: center;
          gap: 2px;
          color: var(--text-color);
        }
      }
    }
  }
}
